.container{
	font-family: sans-serif;
	width:100%;
	height :100vh ;
	display:flex;
	align-items:center;
	box-sizing: border-box;
	padding-left:8%;
	padding-right:8%;
	background-repeat:no-repeat;
	background-color:#f0f0f0;
	overflow:hidden;
	background-size: cover;
	}
	img {
		width:500px;
		margin:2% auto;
		height:70vh;
		margin-left:38%;
		border-radius:25px 0px 0px 25px ;
		
	}
	.doclogo2{
		
		width:100px;
		height:100px;
		border-radius:50%;
		position:absolute;
		top:35px;
		margin-left:9%;
	}
	
	
	
	
	.loginbox{
		width:380px;
		margin:5% auto;
		margin-left:15%;
		align-items:center;
		background-color:rgba(0,0,0,0.1);
		 height:70%;
		 border-radius:0px 25px 25px 0px ;
	}
	
	
	
	.header  {
		text-align : center;
		padding-top:15px ;
		
		color:#D31338;
		font-size:20px;
		margin-bottom:70px;
		
		margin:70px;
		font-weight:bold;
		margin-right:60px;
		
	}
	
	.main{
		text-align : center ;
		
	}
	.main input,button{
		border-radius:25px;
		width:300px;
		height:45px;
		border:none;
		outline:none;
		padding-left:40px;
		box-sizing:border-box ;
		font-size:15px;
		color:#333;
		margin-bottom:40px ;
		
	}
	.main button {
		padding-left:0;
		background-color:#D31338;
		font-weight:bold;
		
	}
	.main button:hover {
		box-shadow:2px 2px 5px #555;
		background-color :#D31338;
	;
	}
	.main input:hover {
		box-shadow:2px 2px 5px #555;
		background-color :#ddd;
	}
	.main span {
		position : relative ;
		
	}
	.main i {
		position:absolute ; 
		top:2px ;
		left :15px; 
		color: #333;
		font-size:16px;
		
	}
	
	